
.cloud {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://xatimg.com/image/Jfd1LKiLMDyZ.jpg) no-repeat center center;
  background-size: cover;
  border: none;
  top: 0;
  left: 0;
}
.cloudcontent {
    position: fixed;
    padding:30px;
    color: #337AB7;
    font-size:22px;
    font-weight:bold;
    z-index:100;
}
.cloud img {
    width: 100%;
    left: 0;
    top: -200px;
    position: fixed;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
    user-select: none;    
    pointer-events: none;
}
@-webkit-keyframes animCloud {
    from {
        -webkit-transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes animCloud {
    from {
        -moz-transform: translateX(100%)
    }
    to {
        -moz-transform: translateX(-100%)
    }
}
@keyframes animCloud {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}
.cloud1 {
    -webkit-animation: animCloud 80s infinite linear;
    -moz-animation: animCloud 80s infinite linear;
    animation: animCloud 80s infinite linear
}
.cloud2 {
    -webkit-animation: animCloud 100s infinite linear;
    -moz-animation: animCloud 100s infinite linear;
    animation: animCloud 100s infinite linear
}
.cloud3 {
    -webkit-animation: animCloud 110s infinite linear;
    -moz-animation: animCloud 110s infinite linear;
    animation: animCloud 110s infinite linear
}
.cloud4 {
    -webkit-animation: animCloud 120s infinite linear;
    -moz-animation: animCloud 120s infinite linear;
    animation: animCloud 120s infinite linear
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: fixed;
	width: 280px;
	height: 233px;
	bottom: 2px;
	display: flex;
}

.photobanner img {
  margin: 0px 5px;
  box-shadow: 2px 2px 5px #00FF00;
}

.photobanner {
  -webkit-animation: bannermove 160s linear infinite;
	animation: bannermove 160s linear infinite;
}

@keyframes bannermove {
  from {
    left: 100%;
  }
  to {
    left: -4700px;
  }
}
